.active {
  color: blue;
  font-weight: bold;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.contents {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.mv {
  width: 100%;
  height: 100%;
}

.mv > img {
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  list-style: none;
  margin-left: 40px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

nav > ul > li > a:hover {
  opacity: 0.6;
}

nav > div > h1 > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

nav > div > h1 > a:hover {
  opacity: 0.6;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.notFoundContainer > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 160px;
  height: 40px;
  border: 1px solid rgb(77, 75, 75);
  border-radius: 24px;
  transform: translateY(0px);
}
.notFoundContainer > a:hover {
  opacity: 0.6;
  transform: translateY(2px);
}

.toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 300px;
  height: 40px;
  border: 1px solid rgb(77, 75, 75);
  border-radius: 24px;
  transform: translateY(0px);
  cursor: pointer;
}

.toggleBtn:hover {
  opacity: 0.6;
  transform: translateY(2px);
}

.dialogMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogTop {
  display: block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 400px;
  height: 80px;
  border: 1px solid rgb(77, 75, 75);
  border-radius: 24px;
  transform: translateY(0px);
  text-align: center;
  cursor: pointer;
}

.dialogTop > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.contactContainer {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.contactInputCOntainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 300px;
  height: 40px;
  border: 1px solid rgb(77, 75, 75);
  border-radius: 24px;
  transform: translateY(0px);
  cursor: pointer;
}

.createPassword {
  width: 500px;
}
